<%- include('includes/header') %> <%- include('includes/navbar.ejs') %>
<div class="uk-container">
  <div class="uk-background-muted uk-padding uk-panel wrapper">
    <h1 id="landing-header">Welcome</h1>
    <button id="landing-btn"><a href="/posts">Get Started</a></button>
  </div>
</div>

<%- include('includes/footer') %>
